@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); */

html,
body {
  height: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d89ec !important;
  opacity: .5 !important;
  /* Firefox */
}
.flag-options{
width: 220px;
overflow-x: hidden !important;
margin-left: -20px;

} 
.selected--flag--option{
  font-size: 12px !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0d89ec !important;
  opacity: .3 ;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0d89ec !important;
  opacity: .3;

}

label {
  color: #0d89ec
}

#cover {

  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

form:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  border-radius: 10px;
}

.form-control {
  border-radius: 12px !important;
  border-color: #0d89ec !important;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #0d89ec center center no-repeat;
}

/*  Layout Page Text Section */
.section-space--inner--120 {
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;

}

.custom-button {
  background-color: transparent !important;
  border-radius: 8px !important;
  border-color: white !important;
  color: white !important;
  margin-right: 8px;
}

#root {
  background-image: url('/BackgroundImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
/*  Navigation Bar Css Override */

 .navbar-brand {
  color:white !important;
}
.nav-link {
  color:white !important;
}
